{{define "footerv"}}
<script>
$(function(){
	$('audio,video').mediaelementplayer({
		loop: false,
		shuffle: false,
		playlist: false,
		audioHeight: -200,
		playlistposition: 'top',
		features: ['playlistfeature', 'prevtrack', 'playpause', 'nexttrack', 'loop', 'shuffle', 'playlist', 'current', 'progress', 'duration', 'volume', 'fullscreen'],
	});
});
</script>

</body>
</html>
{{end}}
