{{define "headerv"}}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Title}}</title>	
	
	<script src="/mediaelement/build/jquery.js"></script>	
	<script src="/mediaelement/build/mediaelement-and-player.min.js"></script>
	<script src="/mep-feature-playlist/mep-feature-playlist.js"></script>
	<link rel="stylesheet" href="/mediaelement/build/mediaelementplayer.min.css" />
	<link rel="stylesheet" href="/mep-feature-playlist/mep-feature-playlist.css" />
</head>
<body>
{{end}}
