{{template "headerv" .}}
<video width= "100%" height="100%" controls="controls" autoplay="autoplay">
{{ with .Ms }}
	{{range .}}
	<source src="{{.Url}}" title="{{.Name}}" type="{{.T}}"/>
		{{if .Sub}}
			{{ with .Sub }}
				{{range .}}
	<track kind="subtitles" src="{{.Url}}" srclang="{{if eq .Episode 0}}{{.Name}}{{else}}{{.Episode}}_{{.Lang}}{{end}}"/>
				{{end}}
			{{end}}
		{{end}}
	{{end}}
{{end}}
</video>
{{template "footerv" .}}
